
img{
	width:141px;
}




#box2{
	background-color: #00E5EE;
}


}
#ruby{
	

}
#diamond{
	
		
	
}	
#emerald{
	
	
}

#yellow{
	
	
}


h3#your{
	text-align: right;
}

h3#answer {
	text-align: left;
}


